/*********************************************************
  Default CSS for HL7 affiliate Switzerland
  Date: 13.11.2009
*********************************************************/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}


/*********************************************************
  Generics
*********************************************************/
body, a, h2, h3, .input, td, th {
	color: #000000;
}
body {
	font-size: 12px;
	line-height: normal;
	font-family: Verdana, Arial, sans-serif;
	margin: 10px; 
	scrollbar-3dlight-color: #EEEEEE; 
	scrollbar-arrow-color: #003366; 
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-face-color: #EEEEEE; 
	scrollbar-highlight-color: #003366; 
	scrollbar-shadow-color: #003366;
	scrollbar-track-color: #EEEEEE 
}
/* links */
a { 
	text-decoration: none 
}
/* paragraph */
p {
	display: block;
    padding: 5px;
	background-color: #ffff66;
    margin-bottom: 1em;
    font-style: italic;
}
/* Logo */
h1 { 
	background: transparent url(../../../../stylesheets/HL7.ch/CDA-CH/v1.2/hl7ch.jpg) no-repeat top right; 
	height:58px
}
/* headers */
h1 { 
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin: 0.83em 0;
}
h2 { 
	font-size: 15px;
	font-weight: bold;
	display: block;
	margin: 0.83em 0;
}
h3 {
	font-weight: bold;
	background-color: #ffd700;
    padding: 5px;
}
/* lists */
ul {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	list-style-type: disc;
}
li {
	list-style-type: disc;
    margin-top: 0.5em;
}
/* controls */
.input { 
	font-size: 10pt; 
	font-family: Verdana, Arial, sans-serif; 
	background-color: #ffffff; 
	border: solid 1px 
} 


/*********************************************************
  Table Generics
*********************************************************/
table { 
	font-size: 10pt;
	background-repeat: no-repeat; 
	line-height: 10pt; 
	border-spacing: 1px;
	border-collapse: separate;	
	border-width: 1px; 
	border-color: #eeeeee;
	padding: 0px;
	margin: 0px;
	
} 
td, th {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}


/*********************************************************
  Head Table
*********************************************************/
table.head {
	width: 100%;
    margin-top: 2em;
}
table.head th {
	color:white;	
}
table.head th, table.head td {
	padding: 5px;
}
table.head tr {
	background-color: #ccccff;	
}
table.head thead tr {
	background-color: #3399ff;
}
table.head thead tr th.label1, table.head thead tr th.value1 {
	font-weight: bold;
}
table.head thead tr th.label2, table.head thead tr td.label2 {
	text-align: right;
}

/*********************************************************
  Body Tables
*********************************************************/
table.body {
    margin-left: 4em;
    width: 90%;
}

table.body tr th, table.body tr td {
	padding: 5px;
}

table.body tr th {
	background-color: #dddddd;
}
table.body tr td {
	background-color: #eeeeee;
}
table.body tr th.value1, tr th.value2{
	font-weight: bold;
}
table.body th.label2{
	text-align: right;
}
table.body th.label1{
	text-align: left;
}

/*********************************************************
  Foot Table
*********************************************************/
/*
not used, yet

table.foot {
	width: 100%;
}
table.foot tr th, table.foot tr td {
	padding: 5px;
}
table.foot tr th {
	font-weight: bold;
	color: white;
	background-color: #3399ff;
	width: 20%;
}
table.foot tr th.empty {
	background-color: transparent;
}
table.foot tr td {
	background-color: #ccccff;
	width: 80%;
}
*/
