<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%p %c{1.} %x - %m%n" />
		</layout>
	</appender>

	<category name="org.ehealth_connector">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</category>

	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
