<!--/*
  ~ This code is made available under the terms of the Eclipse Public License v1.0
  ~ in the github project https://github.com/project-husky/husky there you also
  ~ find a list of the contributors and the license information.
  ~
  ~ This project has been developed further and modified by the joined working group Husky
  ~ on the basis of the eHealth Connector opensource project from June 28, 2021,
  ~ whereas medshare GmbH is the initial and main contributor/author of the eHealth Connector.
  */-->

<th:block th:fragment="display-last-modification(lastStatement, lang)">
  <span>Dernière modification:</span>
  <span th:if="${lastStatement.resolveInformationSource.patient != null}">
    <th:block th:replace="~{datatypes :: human-name(${lastStatement.resolveInformationSource.patient.name[0]}, ${lang})}"/>
  </span>
  <span th:if="${lastStatement.resolveInformationSource.practitionerRole != null}">
    <th:block th:replace="~{datatypes :: human-name(${lastStatement.resolveInformationSource.practitionerRole.resolvePractitioner.name[0]}, ${lang})}"/>
  </span>
  <span>(<th:block th:replace="~{datatypes :: instant(${lastStatement.resolveInformationSource.time}, ${lang})}"/>)</span>
</th:block>