<!--/*
  ~ This code is made available under the terms of the Eclipse Public License v1.0
  ~ in the github project https://github.com/project-husky/husky there you also
  ~ find a list of the contributors and the license information.
  ~
  ~ This project has been developed further and modified by the joined working group Husky
  ~ on the basis of the eHealth Connector opensource project from June 28, 2021,
  ~ whereas medshare GmbH is the initial and main contributor/author of the eHealth Connector.
*/-->
<th:block th:switch="${lang.name()}">
    <div class="emediplan-header">
        <div class="emediplan-header-left">
            <!-- add logo? -->
            <span class="emediplan-header-title">Plan de médication</span>
        </div>
        <div class="emediplan-header-centre">
            <th:block th:insert="~{emediplan_patient :: patient-data(${resource.resolvePatient()}, ${lang})}"/>
        </div>
        <div class="emediplan-header-right">
            <div class="emediplan-header-service-provider"><!-- TODO -->SERVICE PROVIDER PLACEHOLDER</div>
            <div class="emediplan-header-barcode">
                <img th:src="@{'data:image/png;base64,' + ${barcode}}"/>
            </div>
        </div>
    </div>
    <div class="emediplan-body"><!-- TODO --></div>
    <div class="emediplan-footer"><!-- TODO --></div>
</th:block>