<!--/*
  ~ This code is made available under the terms of the Eclipse Public License v1.0
  ~ in the github project https://github.com/project-husky/husky there you also
  ~ find a list of the contributors and the license information.
  ~
  ~ This project has been developed further and modified by the joined working group Husky
  ~ on the basis of the eHealth Connector opensource project from June 28, 2021,
  ~ whereas medshare GmbH is the initial and main contributor/author of the eHealth Connector.
  */-->
<th:block th:switch="${lang.name()}">
    <h1 id="card-title">Carte de médication</h1>

    <table class="table-header">
        <tr>
            <td class="cell-patient">
                <h2>Patient</h2>
                <th:block th:include="~{patient :: display-name-address-contact(${resource.resolvePatient()}, ${lang})}"/>
            </td>
            <th:block th:if="${lastStatement != null}">
                <td class="cell-author">
                    <h2>Dernière modification</h2>
                    <th:block th:include="~{last_modif :: display-last-modification(${lastStatement}, ${lang})}"/>
                </td>
            </th:block>
        </tr>
    </table>

    <div id="active-treatments">
        <h2 id="active-treatments-header">Traitements actifs</h2>
        <th:block th:insert="~{medication_card_fragments :: table(${activeTreatments}, ${lang})}"/>
    </div>
    <div id="reserve-treatments">
        <h2 id="reserve-treatments-header">Traitements en réserve</h2>
        <th:block th:insert="~{medication_card_fragments :: table(${asneededTreatments}, ${lang})}"/>
    </div>
</th:block>
