<!--/*
  ~ This code is made available under the terms of the Eclipse Public License v1.0
  ~ in the github project https://github.com/project-husky/husky there you also
  ~ find a list of the contributors and the license information.
  ~
  ~ This project has been developed further and modified by the joined working group Husky
  ~ on the basis of the eHealth Connector opensource project from June 28, 2021,
  ~ whereas medshare GmbH is the initial and main contributor/author of the eHealth Connector.
  */-->
<th:block th:fragment="treatmentPlan(statements, lang)">
    <tbody class="treatment-plan-body">
        <th:block th:each="statement, iStat: ${statements}">
            <th:block th:insert="~{::table-line(${statement}, ${statement.resolveEffectiveDosageInstructions()}, ${iStat.index}, ${iStat.size}, ${lang})}"/>
        </th:block>
    </tbody>
</th:block>

<th:block th:fragment="table-line(medStmt, dosage, index, size, lang)">
    <tr class="statement-row" th:classappend="${(index == 0)? ' treatment-first-row' : ''}">
        <th:block th:if="${index} == 0">
            <td class="treatment-plan-common-cell" th:rowspan="${size} * 2"/>
        </th:block>
        <!-- Nom du médicament -->
        <td>
            [[${medStmt.resolveMedication().resolveMedicationName()}]]
        </td>

        <!-- Dosage -->
        <th:block th:if="${dosage.hasIntakes()}">
            <td th:insert="~{datatypes :: dosage-intake(${dosage.getMornIntake()}, ${lang})}"/>
            <td th:insert="~{datatypes :: dosage-intake(${dosage.getNoonIntake()}, ${lang})}"/>
            <td th:insert="~{datatypes :: dosage-intake(${dosage.getEveIntake()}, ${lang})}"/>
            <td th:insert="~{datatypes :: dosage-intake(${dosage.getNightIntake()}, ${lang})}"/>
        </th:block>
        <th:block th:if="${dosage.hasSimpleEventTimings}">
            <td th:insert="~{datatypes :: intake-timing(${dosage.hasMorningSimpleEventTiming}, ${lang})}"/>
            <td th:insert="~{datatypes :: intake-timing(${dosage.hasNoonSimpleEventTiming}, ${lang})}"/>
            <td th:insert="~{datatypes :: intake-timing(${dosage.hasEveningSimpleEventTiming}, ${lang})}"/>
            <td th:insert="~{datatypes :: intake-timing(${dosage.hasNightSimpleEventTiming}, ${lang})}"/>
        </th:block>
        <th:block th:if="${dosage.hasSimpleDose}">
            <td colspan="4" class="daily-intake">
                *** <th:block th:insert="~{datatypes :: simple-dose(${dosage.simpleDose}, ${lang})}"/> par jour ***
            </td>
        </th:block>
        <th:block th:unless="${dosage.hasIntakes or dosage.hasSimpleEventTimings or dosage.hasSimpleDose}">
            <td colspan="4" class="daily-instructions">
                *** <th:block th:text="${dosage.patientInstructions}"/> ***
            </td>
        </th:block>

        <!-- Commentaire (raison et instructions au patient -->
        <td>
            <th:block th:if="${dosage.hasIntakes or dosage.hasSimpleEventTimings or dosage.hasSimpleDose}">
                <th:block th:if="${dosage.hasPatientInstructions()}"
                          th:text="${dosage.patientInstructions()}"/>
                <th:block th:if="${dosage.hasPatientInstructions() && medStmt.hasTreatmentReason()}"><br/></th:block>
            </th:block>
            <th:block th:if="${medStmt.hasTreatmentReason()}"
                      th:text="${medStmt.getTreatmentReason()}"/>
        </td>

        <!-- Voie et localisation -->
        <td>
            <th:block th:if="${dosage.hasRouteOfAdministration()}"
                      th:text="${fopase.getMessage(dosage.routeOfAdministration(), lang)}"/>
        </td>
    </tr>
    <tr>
        <td colspan="8" class="description">
            <th:block th:if="${dosage.period().hasStart() and dosage.period().hasEnd()}">
                À prendre du
                <th:block th:insert="~{datatypes :: date-time(${dosage.period().getStartElement()}, ${lang})}"/>
                au
                <th:block th:insert="~{datatypes :: date-time(${dosage.period().getEndElement()}, ${lang})}"/>
            </th:block>
            <th:block th:if="${dosage.period().hasStart() and not dosage.period().hasEnd()}">
                À prendre dès le
                <th:block th:insert="~{datatypes :: date-time(${dosage.period().getStartElement()}, ${lang})}"/>
            </th:block>
            <th:block th:if="${not dosage.period().hasStart() and dosage.period().hasEnd()}">
                À prendre jusqu'au
                <th:block th:insert="~{datatypes :: date-time(${dosage.period().getEndElement()}, ${lang})}"/>
            </th:block>

            <th:block th:if="${dosage.hasMaxDose()}" th:insert="~{datatypes::max-doses(${dosage}, ${lang})}"/>
        </td>
    </tr>
</th:block>
