<!--/*
  ~ This code is made available under the terms of the Eclipse Public License v1.0
  ~ in the github project https://github.com/project-husky/husky there you also
  ~ find a list of the contributors and the license information.
  ~
  ~ This project has been developed further and modified by the joined working group Husky
  ~ on the basis of the eHealth Connector opensource project from June 28, 2021,
  ~ whereas medshare GmbH is the initial and main contributor/author of the eHealth Connector.
  */-->
<th:block th:switch="${lang.name()}">
    <h1 id="card-title">Carte de médication</h1>

    <table class="table-header">
        <tr>
            <td class="cell-patient">
                <h2>Patient</h2>
                <th:block th:insert="~{patient :: display-name-address-contact(${resource.resolvePatient()}, ${lang})}"/>
            </td>
            <th:block th:if="${lastStatement != null}">
                <td class="cell-author">
                    <h2>Dernière modification</h2>
                    <th:block th:insert="~{last_modif :: display-last-modification(${lastStatement}, ${lang})}"/>
                </td>
            </th:block>
        </tr>
    </table>

    <div id="active-treatments">
        <h2 id="active-treatments-header">Traitements actifs</h2>
        <table class="treatments">
            <thead>
            <tr>
                <td rowspan="2" colspan="2">Nom du médicament</td>
                <td colspan="4">Dosage</td>
                <td rowspan="2">Commentaire</td>
                <td rowspan="2">Voie et localisation</td>
            </tr>
            <tr>
                <td>Matin</td>
                <td>Midi</td>
                <td>Soir</td>
                <td>Nuit</td>
            </tr>
            </thead>
            <th:block th:each="statements: ${activeTreatments}">
                <th:block th:insert="~{medication_card_fragments::treatmentPlan(${statements.value}, ${lang})}"/>
            </th:block>
            <th:block th:if="${!asneededTreatments.isEmpty()}">
                <tbody>
                <tr>
                    <td colspan="8" class="as-needed-treatments-header">Traitements en réserve:</td>
                </tr>
                </tbody>
                <th:block th:each="statements: ${asneededTreatments}">
                    <th:block th:insert="~{medication_card_fragments::treatmentPlan(${statements.value}, ${lang})}"/>
                </th:block>
            </th:block>
            <th:block th:if="${activeTreatments.isEmpty() && asneededTreatments.isEmpty()}">
                <tbody>
                    <tr>
                        <td colspan="8" class="no-treatment">Aucun traitement</td>
                    </tr>
                </tbody>
            </th:block>
        </table>
    </div>
</th:block>
