# This workflow will test the project Javadoc with Maven on pull requests

name: Test Javadoc

on:
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Test Javadoc
        run: mvn javadoc:aggregate -f pom.xml
